<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Profil </h1>
    
  </div>
</div>
  <p> 
  Nom :  <%= @user.last_name %> <%= @user.first_name %><br/>
  Description : <%= @user.description %> <br/>
  Mail : <%= @user.email %><br/>
  </p>
  

  <p> <%=link_to "Créer un événement", new_event_path, class: "btn btn-primary btn-lg" %> </p> <!--  new_event GET    /events/new(.:format)             events#new
-->

  <p> <%=link_to "Changer mon mot de passe", edit_user_registration_path, class: "btn btn-primary btn-lg" %>  </p> <!--   edit_user_registration GET    /users/edit(.:format)      devise/registrations#edit
-->