<html>


  <title>
      Page Event
  </title>

  <body>

    <div class="jumbotron">

      <h3>PAGE EVENT</h3>
        <p>Voici la page de l evenement <%=@event.title %>, cree le <%= @event.created_at %></p> 

          <!-- Affiche les infos de l evenement -->
        <p class="lead"> Titre : <%=@event.title %> </p>
        <p class="lead"> Description : <%= @event.description %> </p>
        <p class="lead"> Titre : <%=@event.title %> </p>
        <p class="lead"> Date : <%= @event.start_date %> </p>
        <p class="lead"> Duree : <%=@event.duration %> </p>
        <p class="lead"> Prix : <%= @event.price %> Euros</p>
        <p class="lead"> Lieu : <%=@event.location %> </p>

  
  
    </div>
  </body>
</html>