<!DOCTYPE html>
<html>
  <head>
    <title>TheEventBriteLikePoject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

<!-- Ajout CDN BOOTSTRAP -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  
    <!-- Ajout Header et Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">

           <a class="navbar-brand" href="<%= root_path%>">TOULOUSE EVENTS</a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">           
                 <li class="nav-item">
                   <%= link_to "Accueil", events_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                <%= link_to "Créer un evenement", new_event_path, class: "nav-link" %> <!-- new_event GET    /events/new(.:format)                                                                    events#new
 -->
              </li>
                </ul>
              </div>

            <div>
                  <!-- ul pour le login -->
               <ul class= "nav navbar-nav navbar-right">
                  <% if current_user == nil %>

                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                      User
                    </button>
                       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
                       </div>
                 </div>
               
                <li class="nav-item">
                <% else %>           
                  
                  <!-- on appelle la methode destroy du controller sessions      destroy_user_session DELETE /users/sign_out(.:format)                                                                devise/sessions#destroy
-->
                 <%= link_to "Se deconnecter",destroy_user_session_path, :class => "nav-link", method: :delete %> 

              <% end %>
           </li>
          </ul>
        </div>      
      </nav>

    <%= yield %>

  
</html>
